.receptionist {
  background-color: #fbfbd4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.receptionist .div-2 {
  background-color: #fbfbd4;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.receptionist .sidemenu-large {
  align-items: center;
  background-color: var(--grey-0);
  display: flex;
  flex-direction: column;
  height: 942px;
  justify-content: space-between;
  left: 0;
  padding: 4px 24px 32px;
  position: absolute;
  top: 82px;
  width: 251px;
}

.receptionist .container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.receptionist .line {
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
  position: relative;
  width: 203px;
}

.receptionist .overview {
  background-color: #ffffff;
  border-radius: 10px;
  height: 54px;
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
  position: relative;
  width: 227px;
}

.receptionist .container-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 94px;
}

.receptionist .squares-four {
  background-image: url(./squares-four.svg) !important;
  height: 21.7px !important;
  position: relative !important;
  width: 22px !important;
}

.receptionist .text-wrapper-7 {
  color: #3f3430;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .img {
  height: 1px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 203px;
}

.receptionist .postal-services {
  align-self: stretch;
  color: #3f3430;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: normal;
  position: relative;
}

.receptionist .div-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.receptionist .container-wrapper {
  background-color: #f2c848;
  border-radius: 10px;
  height: 46px;
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
  position: relative;
  width: 227px;
}

.receptionist .container-3 {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 15px;
  position: relative;
  top: 16px;
  width: 94px;
}

.receptionist .vector {
  height: 15.2px;
  position: relative;
  width: 19px;
}

.receptionist .text-wrapper-8 {
  color: #3f3430;
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -17px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .div-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.receptionist .text-wrapper-9 {
  color: #3f3430;
  font-family: var(--b2-regular-font-family);
  font-size: var(--b2-regular-font-size);
  font-style: var(--b2-regular-font-style);
  font-weight: var(--b2-regular-font-weight);
  letter-spacing: var(--b2-regular-letter-spacing);
  line-height: var(--b2-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .cube-instance {
  background-image: url(./cube-2.svg) !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.receptionist .mdi-courier-fast-instance {
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: unset !important;
}

.receptionist .text-wrapper-10 {
  color: #3f3430;
  font-family: var(--b2-regular-font-family);
  font-size: var(--b2-regular-font-size);
  font-style: var(--b2-regular-font-style);
  font-weight: var(--b2-regular-font-weight);
  letter-spacing: var(--b2-regular-letter-spacing);
  line-height: var(--b2-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .icon-instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.receptionist .line-2 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.receptionist .other-services {
  align-self: stretch;
  color: #3f3430;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.receptionist .designer-team {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.receptionist .sign-out {
  height: 20px;
  position: relative;
  transform: rotate(180deg);
  width: 20px;
}

.receptionist .sign-out-instance {
  height: 20px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  transform: rotate(-180deg) !important;
  width: 20px !important;
}

.receptionist .text-wrapper-11 {
  color: #453d3d;
  font-family: var(--b2-regular-font-family);
  font-size: var(--b2-regular-font-size);
  font-style: var(--b2-regular-font-style);
  font-weight: var(--b2-regular-font-weight);
  letter-spacing: var(--b2-regular-letter-spacing);
  line-height: var(--b2-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .top-bar {
  background-color: var(--grey-0);
  border-color: #fbfbd4;
  border-left-style: solid;
  border-left-width: 1px;
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.receptionist .container-4 {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  left: 1027px;
  position: absolute;
  top: 20px;
  width: 372px;
}

.receptionist .gear-instance {
  background-image: url(./gear.png) !important;
  margin-left: -21px !important;
  position: relative !important;
}

.receptionist .toggle-mode {
  background-image: url(./ion-toggle.svg);
  background-size: 100% 100%;
  height: 35px;
  position: relative;
  width: 35px;
}

.receptionist .material-symbols {
  height: 14px !important;
  left: 18px !important;
  position: absolute !important;
  top: 10px !important;
  width: 14px !important;
}

.receptionist .gear-2 {
  background-image: url(./gear.svg) !important;
  position: relative !important;
}

.receptionist .bell-instance {
  background-image: url(./bell-2.svg) !important;
  position: relative !important;
}

.receptionist .user {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  margin-right: -21px;
  position: relative;
}

.receptionist .profile-picture {
  background-image: url(./profile-picture.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
  height: 44px;
  position: relative;
  width: 44px;
}

.receptionist .name {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.receptionist .text-wrapper-12 {
  color: var(--grey-900);
  font-family: var(--b1-bold-font-family);
  font-size: var(--b1-bold-font-size);
  font-style: var(--b1-bold-font-style);
  font-weight: var(--b1-bold-font-weight);
  letter-spacing: var(--b1-bold-letter-spacing);
  line-height: var(--b1-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .text-wrapper-13 {
  color: var(--grey-500);
  font-family: var(--b3-regular-font-family);
  font-size: var(--b3-regular-font-size);
  font-style: var(--b3-regular-font-style);
  font-weight: var(--b3-regular-font-weight);
  letter-spacing: var(--b3-regular-letter-spacing);
  line-height: var(--b3-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.receptionist .caret-down {
  background-image: url(./caret-down.svg) !important;
  position: relative !important;
}

.receptionist .material-symbols-menu-rounded {
  height: 30px !important;
  left: 25px !important;
  position: absolute !important;
  top: 26px !important;
  width: 30px !important;
}

.receptionist .logo-final {
  height: 66px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 96px;
}

.receptionist .text-wrapper-14 {
  color: #3f3430;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 574px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.receptionist .text-wrapper-15 {
  color: #474747;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 32.4px;
  font-weight: 800;
  height: 39px;
  left: 146px;
  letter-spacing: 0;
  line-height: 38.9px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.receptionist .recent-sales {
  background-color: #ffffff;
  border-radius: 16px;
  height: 768px;
  left: 281px;
  overflow: hidden;
  position: absolute;
  top: 101px;
  width: 701px;
}

.receptionist .select-instance {
  display: flex !important;
  left: 40px !important;
  position: absolute !important;
  top: 514px !important;
  width: 612px !important;
}

.receptionist .design-component-instance-node-2 {
  background-color: #8e8e931f !important;
}

.receptionist .select-2 {
  left: 576px !important;
}

.receptionist .select-3 {
  display: flex !important;
  left: 40px !important;
  position: absolute !important;
  top: 427px !important;
  width: 612px !important;
}

.receptionist .text-input-instance {
  display: flex !important;
  left: 41px !important;
  position: absolute !important;
  top: 87px !important;
  width: 611px !important;
}

.receptionist .text-input-2 {
  color: #97999f !important;
}

.receptionist .text-input-3 {
  display: flex !important;
  left: 41px !important;
  position: absolute !important;
  top: 172px !important;
  width: 611px !important;
}

.receptionist .text-input-4 {
  display: flex !important;
  left: 41px !important;
  position: absolute !important;
  top: 257px !important;
  width: 611px !important;
}

.receptionist .text-input-5 {
  display: flex !important;
  left: 41px !important;
  position: absolute !important;
  top: 343px !important;
  width: 611px !important;
}

.receptionist .text-wrapper-16 {
  color: var(--grey-900);
  font-family: var(--h3-bold-font-family);
  font-size: var(--h3-bold-font-size);
  font-style: var(--h3-bold-font-style);
  font-weight: var(--h3-bold-font-weight);
  left: 41px;
  letter-spacing: var(--h3-bold-letter-spacing);
  line-height: var(--h3-bold-line-height);
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.receptionist .button-instance {
  left: 284px !important;
  position: absolute !important;
  top: 655px !important;
}

.receptionist .recent-sales-2 {
  background-color: #ffffff;
  border-radius: 16px;
  height: 375px;
  left: 1030px;
  overflow: hidden;
  position: absolute;
  top: 102px;
  width: 369px;
}

.receptionist .text-wrapper-17 {
  color: var(--grey-900);
  font-family: var(--h3-bold-font-family);
  font-size: var(--h3-bold-font-size);
  font-style: var(--h3-bold-font-style);
  font-weight: var(--h3-bold-font-weight);
  left: 36px;
  letter-spacing: var(--h3-bold-letter-spacing);
  line-height: var(--h3-bold-line-height);
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.receptionist .select-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 36px;
  position: absolute;
  top: 85px;
  width: 296px;
}

.receptionist .text-wrapper-18 {
  align-self: stretch;
  color: var(--text-secondary-grey2);
  font-family: var(--paragraph-IBM-plex-sans-regular-font-family);
  font-size: var(--paragraph-IBM-plex-sans-regular-font-size);
  font-style: var(--paragraph-IBM-plex-sans-regular-font-style);
  font-weight: var(--paragraph-IBM-plex-sans-regular-font-weight);
  letter-spacing: var(--paragraph-IBM-plex-sans-regular-letter-spacing);
  line-height: var(--paragraph-IBM-plex-sans-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.receptionist .overlap-group-wrapper {
  align-self: stretch;
  background-color: #8e8e931f;
  border-radius: 4px;
  height: 48px;
  position: relative;
  width: 100%;
}

.receptionist .overlap-group {
  height: 25px;
  left: 12px;
  position: relative;
  top: 11px;
  width: 400px;
}

.receptionist .text-wrapper-19 {
  color: var(--text-secondary-grey3);
  font-family: var(--paragraph-IBM-plex-sans-regular-font-family);
  font-size: var(--paragraph-IBM-plex-sans-regular-font-size);
  font-style: var(--paragraph-IBM-plex-sans-regular-font-style);
  font-weight: var(--paragraph-IBM-plex-sans-regular-font-weight);
  height: 24px;
  left: 0;
  letter-spacing: var(--paragraph-IBM-plex-sans-regular-letter-spacing);
  line-height: var(--paragraph-IBM-plex-sans-regular-line-height);
  position: absolute;
  top: 0;
  width: 400px;
}

.receptionist .mdi-arrow-drop-down-2 {
  height: 24px;
  left: 248px;
  position: absolute;
  top: 1px;
  width: 24px;
}

.receptionist .rs-wrapper {
  background-color: #8e8e931f;
  border-radius: 4px;
  height: 64px;
  left: 36px;
  position: absolute;
  top: 273px;
  width: 296px;
}

.receptionist .rs {
  color: var(--text-secondary-grey3);
  font-family: var(--paragraph-IBM-plex-sans-regular-font-family);
  font-size: var(--paragraph-IBM-plex-sans-regular-font-size);
  font-style: var(--paragraph-IBM-plex-sans-regular-font-style);
  font-weight: var(--paragraph-IBM-plex-sans-regular-font-weight);
  height: 32px;
  left: 13px;
  letter-spacing: var(--paragraph-IBM-plex-sans-regular-letter-spacing);
  line-height: var(--paragraph-IBM-plex-sans-regular-line-height);
  position: absolute;
  top: 15px;
  width: 270px;
}

.receptionist .button-2 {
  left: 126px !important;
  position: absolute !important;
  top: 193px !important;
}

.receptionist .line-3 {
  height: 1px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 256px;
  width: 321px;
}
